<section>
    <div class="profile-image">
        <img src="https://scontent.xx.fbcdn.net/v/t1.15752-9/377151887_2100781020280841_813144867641550571_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=510075&_nc_eui2=AeEIy6iJJNwXTibzThidgQjkbA034mwTRJxsDTfibBNEnNCPow7_QrFy7VheoVLyeTUAY_kjFZzA5yyN71XeQycZ&_nc_ohc=WHqaUPvTclwAX_dtauA&_nc_oc=AQlOYBoHeddIkqHNEntndDSiILjjToK69D6XrRcqAvjQ4crJdHxso3mAxm658i-ASzZy6L9YSHXojAmiZwAlrs5A&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.xx&oh=03_AdRGbNV_lXszziKUzHCI0xeexEkKOCwgHXbRmKrmrp-3wg&oe=65912E8B" alt="My Profile Image">
    </div>

<h1 style="text-align: right;">Welcome to my Home Page</h1>